<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADT.Core.Mvc.Areas</title>

</head>
<body>
    <div>
        <nav style="background-color:lightblue">
            <h1>Outside Layout</h1>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
