@using ADT.Core.Mvc.TagHelpers.Models.Home
@model EmployeeViewModel

<h2>Hello ASP.Net Core Tag Helpers</h2>

<form asp-controller="Home" asp-action="Index" method="post">
    @* Validation Summary *@
    <div asp-validation-summary="All"></div>

    <input asp-for="Id" />

    <label asp-for="Firstname"></label>
    <input asp-for="Firstname" />
    <span asp-validation-for="Firstname"></span><br/>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span><br />

    <label asp-for="BlogUrl"></label>
    <input asp-for="BlogUrl" />
    <span asp-validation-for="BlogUrl"></span><br />

    <label asp-for="MobileNo"></label>
    <input asp-for="MobileNo" />
    <span asp-validation-for="MobileNo"></span> <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span> <br />

    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" asp-format="{0:yyyy-MM-dd}" />
    <span asp-validation-for="BirthDate"></span> <br />

    <label asp-for="Salary"></label>
    <input asp-for="Salary" asp-format="{0:0.00}" />
    <span asp-validation-for="Salary"></span> <br />

    <label asp-for="IsPartTime"></label>
    <input asp-for="IsPartTime" />
    <span asp-validation-for="IsPartTime"></span> <br />

    <label asp-for="Notes"></label>
    <textarea asp-for="Notes"></textarea>
    <span asp-validation-for="Notes"></span> <br />

    <label asp-for="Title"></label>
    <select asp-for="Title" asp-items="Model.GetTitles()">
        <option value="">--select--</option>
    </select><br />

    <label asp-for="Interests"></label>
    <select asp-for="Interests" asp-items="Model.GetInterests()">
    </select><br />

    <label asp-for="Gender"></label>
    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
        <option value="" selected>--select--</option>
    </select><br />

    <br />
    <button type="submit">Save</button><br />

    <a asp-controller="Home" asp-action="Echo" asp-route-id=@Model.Id>Echo!</a><br />
    <a asp-route="namedRoute" asp-route-id=@Model.Id>Call Named Route</a><br />
    <a asp-host="www.adinnet.cn" asp-protocol="http">WWW</a>
</form>