<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core 2.0 TagHelperComponent</title>
</head>
<body>
    <main>
        <h2>ASP.NET Core 2.0 TagHelperComponent</h2>
    </main>

    <footer></footer>

    <script>
        $(function () {
            sayHello();
        })
    </script>
</body>
</html>
